// CSS RESET:
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ******** GLOBAL STYLES ********

@font-face {
  font-family: 'Sprayers';
  src: url('../public/fonts/sprayers.otf');
} 
@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
} 
@font-face {
  font-family: 'Alkatra';
  src: url('../public/fonts/Alkatra-Regular.ttf');
} 
@font-face {
  font-family: 'Sprayers';
  src: url('../public/fonts/sprayers.otf');
} 

html {
  font-size: 22px;
}

// ******** VARIABLES ********

:root {
  --COLOR-MAIN-1: #008080;
  --COLOR-MAIN-1_HIGHLIGHT: #006060;
  --COLOR-MAIN-2: #ff0;
  --COLOR-MAIN-2_HIGHLIGHT: #cc0;
  --COLOR-SECONDARY-1: #333;
  --COLOR-SECONDARY-1_HIGHLIGHT: #444;
  --COLOR-SECONDARY-2: #dffd;
  --COLOR-SECONDARY-2_HIGHLIGHT: #fffd;
  --COLOR-SHADOW: #8ff;
  --COLOR-BGINPUT: #ff8;
  // --COLOR-MAIN-1: #06f;
  // --COLOR-MAIN-1_HIGHLIGHT: #006060;
  // --COLOR-MAIN-2: #f22;
  // --COLOR-MAIN-2_HIGHLIGHT: #cc0;
  // --COLOR-SECONDARY-1: #333;
  // --COLOR-SECONDARY-1_HIGHLIGHT: #444;
  // --COLOR-SECONDARY-2: #dffd;
  // --COLOR-SECONDARY-2_HIGHLIGHT: #fffd;
  // --COLOR-SHADOW: #008;
  
  --FONT-TITLE: 'Sprayers';
  --FONT-CONSERVATIVE: 'Alkatra';

  --HEADER-HEIGHT: 6rem;
  --FOOTER-HEIGHT: 2rem;
}

// ******** UTILITY STYLES ********

.right-justify {
  text-align: right;
}

.no-wrap {
  white-space: nowrap;
}


// ******** LAYOUT STYLES ********

.layout {
  // min-width: 100%;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  // // grid-template: var(--HEADER-HEIGHT) 1fr var(--FOOTER-HEIGHT)  / 100%;
  background-color: #333;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-flow: 1;
  display: grid;
  max-width: 1200px;
}

// Header & Header Components:

.header {
  position: sticky;
  grid-column: 1/4;
  width: 100%;
  display: grid;
  top: 0;
  height: var(--HEADER-HEIGHT);
  z-index: 1;
  // max-height: 1rem;
}

.header-logobar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-image: linear-gradient(to right, var(--COLOR-MAIN-1), #dddd);
  width: 100%;
  
  position: sticky;
  top:0;
}

.header-logo {
  color: var(--COLOR-MAIN-2);
  font-family: 'Sprayers';
  letter-spacing: .15rem;
  font-size: 1rem;
  text-shadow: 2px 2px 5px var(--COLOR-SHADOW);
  padding-left: 0.5rem;
}

.header-logo:hover {
  color: #cc0;
}

.header-logo::before {
  content: 'The ';
  font-size: .6rem;
  vertical-align: top;
  letter-spacing: .1rem;
}

.button-nav {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
  background: transparent;
  position: sticky;
  top:0;
}

.nav-button-container {
  width: 49%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  border: none;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 5px var(--COLOR-SHADOW);
  font-family: var(--FONT-CONSERVATIVE);
  letter-spacing: 0.1rem;
  font-weight: 900;
  width: 100%;
  padding: 0.25rem;
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
  margin: auto;
}

.nav-button_1 {
  background-color: var(--COLOR-MAIN-1);
  color: var(--COLOR-MAIN-2);
}

.nav-button_2 {
  background-color: var(--COLOR-MAIN-2);
  color: var(--COLOR-MAIN-1);
}

.menu-button {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10%;
}

.menu-button:hover {
  cursor: pointer;
  background-color: var(--COLOR-MAIN-2);
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
  background-color: (var(--COLOR-SECONDARY-1));
  width: 32px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  transition: all 0.5s;
}

.menu-icon_open,
.menu-icon_open::before,
.menu-icon_open::after {
  background-color: (var(--COLOR-SECONDARY-1));
  width: 32px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  transition: all 0.5s;
}

.menu-icon::after,
.menu-icon::before {
  content: "";
}

.menu-icon_open::after,
.menu-icon_open::before {
  content: "";
}

.menu-icon::before {
  transform: translate(-16px, -10px);
}

.menu-icon::after {
  transform: translate(-16px, 10px);
}

.menu-icon_open {
  background-color: transparent;
  transform: rotate(180deg);
}

.menu-icon_open::before {
  transform: translateX(-16px) rotate(45deg);
}

.menu-icon_open::after {
  transform: translateX(-16px) rotate(-45deg);
}

.header-menuicon {
  color: #555;
  max-width: 48px;
  max-height: 48px;
  text-align: right;
}

.header-menuicon:hover {
  color: #cc0;
  cursor: pointer;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-nav-button {
  text-align: center;
  align-content: center;
  background-color: var(--COLOR-MAIN-2);
  width:50%;
  min-width: 200px;
  margin: 0.5rem;
  border-radius: 2rem;
}

.header-nav-button-txt {
  padding: 0.5rem;
  margin: auto;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: var(--COLOR-MAIN-1);
}

.header-nav-button:hover {
  background-color: #ee0;
  cursor: pointer;
}

.header-nav-button:active {
  background-color: #dd0
}

// Menu

.header-menu {
  position: fixed;
  width: 100%;
  top: 2.75rem;
  left: 0;
  background-image: linear-gradient(to bottom, #333d, #999d);
  z-index: 99;
  animation: growDown 600ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.header-menu:first-child {
  padding-top: 0.5rem;
}

.header-menu-item {
  font-family: var(--FONT-CONSERVATIVE);
  text-align: center;
  letter-spacing: 0.1rem;
  font-weight: 500;
  padding: 0.25rem 0 0.25rem 0;
  color: #ff0;
}

.header-menu-item:active {
    color: #ff0;
}

.header-menu_closed {
  display: none
}

// Main Element

main {
  flex-grow: 1;
}

// Footer & Footer Components:

.footer {
  bottom: 0;
  grid-column: 1 / 4;
  grid-row: -1;
  background-image: linear-gradient(to right, #dddd, var(--COLOR-MAIN-1));
  // position: fixed;
  padding: 0.5rem;
  position: sticky;
}

.footer-smalltext {
  text-align: right;
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: var(--COLOR-MAIN-2);
}

// ******** PAGE DEFAULT STYLES ********

// Hero Styles:

.hero {
  display: grid;
  position: relative;
}

.hero-txt {
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  // z-index: 2;
  position: absolute;
  min-width: 100%;
  max-height: calc(100vh - var(--HEADER-HEIGHT));
}

.hero-video {
  height: calc(100vh - var(--HEADER-HEIGHT));
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.hero-img {
  height: 60vw;
  width: 100%;
}

// Page Body Styles:

.page-body {
  display: flex;
  flex-flow: column;  justify-content: center;
}

.page-body-content {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.page-title {
  // height: 2.75rem;
  // width: 100vw;
  font-family: var(--FONT-CONSERVATIVE);
  padding: 2rem 0.5rem;
  letter-spacing: 0.05rem;
  text-align: center;
  color: #ff0;
  font-size: min(10vw, 5vh, 2rem);
  text-shadow: 2px 2px 5px #008;
  line-height: max(calc(20vh - 3.5rem), 7.5vh);
  // grid-row-start: 1;
}

.page-txt {
  width: 90vw;
  align-self: center;
  margin-top: 1rem;
  font-size: 0.8rem;
  font-family: var(--FONT-CONSERVATIVE);
  color: var(--COLOR-MAIN-2);
  font-weight: 100;
}

.subsection {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 1rem;
  font-family: var(--FONT-CONSERVATIVE);
}

// .page-heading1 {
//   font-family: var(--FONT-CONSERVATIVE);
//   letter-spacing: 0.25rem;
//   text-align: center;
//   margin-top: 2.5rem;
//   font-size: 2rem;
//   color: var(--COLOR-MAIN-2);
//   text-shadow: 2px 2px 5px var(--COLOR-SHADOW);
// }
.page-heading1 {
  font-family: var(--FONT-TITLE);
  letter-spacing: 0.35rem;
  text-align: center;
  margin-top: 2.5rem;
  font-size: 2rem;
  color: var(--COLOR-MAIN-2);
  text-shadow: 2px 2px 5px var(--COLOR-SHADOW);
}

.page-heading2 {
  color: var(--COLOR-MAIN-1);
  font-family: var(--FONT-CONSERVATIVE);
  letter-spacing: 0.2rem;
  font-size: 1rem;
  font-weight: 800;
  margin: 1rem 0;
  align-self: center;
}

.page-img {
  width: 100%;
  height: auto;
  border-radius: 20%;
  border: 1px solid #333d;
  box-shadow: 2px 2px 5px var(--COLOR-SHADOW);
  margin: 1rem;
}

// Page List Styles:

.page-list {
  font-family: var(--FONT-CONSERVATIVE);
  font-size: 0.7rem;
  list-style:  none;
  padding: 0.5rem 2rem;
  font-weight: 800;
  text-indent: -0.5rem;
}

.page-list-item::before {
  content: "⚛ ";
  margin: 0rem;
  color: #006060;
}

.page-list-item {
  padding-bottom: 0.5rem;
}

.checklist-table {
  width: 90vw;
  margin: 0.5rem;
  border: 2px solid var(--COLOR-SECONDARY-1);
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: var(--COLOR-MAIN-1);
  color: var(--COLOR-MAIN-2);
  font-size: 0.8rem;
  justify-content: center;
  box-shadow: 2px 2px 5px var(--COLOR-SHADOW);
}

// Contact form styles:

.contact-form-container {
  display: flex;
  flex-direction: column;
}

.contact-form-side,
.contact-form-fullpg {
  width: 100%;
  margin-top: -2rem;
  font-family: var(--FONT-CONSERVATIVE);

  ul {
    margin: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10;
      overflow: hidden;
      display: grid;
      grid-template-columns: 100px calc(100% - 100px);
      position: relative;
      // opacity: 0;
      // animation: fadeInUp 2s 2s;
      // animation-fill-mode: forwards;
    }
  }

  label {
    color: var(--COLOR-MAIN-2);
  }

  textarea {
    width: 100%;
    list-style: none;
    margin-bottom: 10;
    overflow: hidden;
    display: block;
    position: relative;
    min-height: 6rem;
  }

  input[type='text'],
  input[type='email'],
  input[type='number'],
  textarea {
    grid-column-start: 2;  
    font-size: 0.75rem;
        color: var(--COLOR-SECONDARY-1);
        font-weight: bold;
        padding: 0.25rem;
        background-color: #fff;
        border: 2px solid var(--COLOR-MAIN-1);
        box-shadow: 2px 2px 5px var(--COLOR-SHADOW);
        border-radius: 0.5rem;
      }

  .button-side {
    grid-column: 1;
    grid-column-end: -1;
    background-color: var(--COLOR-MAIN-2);
    font-family: var(--FONT-CONSERVATIVE);
    font-size: larger;
    color: var(--COLOR-MAIN-1);
    border-radius: 0.5rem;
  }

    .button-side:hover {
      background-color: var(--COLOR-MAIN-2_HIGHLIGHT);
      cursor: pointer;
    }
}

// ******** PAGE SPECIFIC STYLES ********

// Grid Item Styles:

.item-grid {
  display: flex;
  flex-flow: row wrap;
  gap: 0 2rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.grid-item {
  display: flex;
  width: min(100%, 360px);
  height: auto;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  margin-top: 1rem;
}

.grid-item-caption {
  font-family: var(--FONT-CONSERVATIVE);
  font-weight: 100;
  padding: 1rem;
  padding-bottom: 0.0rem;
  letter-spacing: 0.1rem;
  margin-top: 0.5rem;
  text-align: center;
  color: var(--COLOR-MAIN-2);
  font-size: min(8vw, 1.5rem);
  text-shadow: 1px 1px 2.5px #333;
  // background-image: linear-gradient(to right, yellow, #ffee);
}

.grid-item-img {
  width: 100%;
  height: auto;
  border-radius: 20%;
  border: 1px solid #333d;
  box-shadow: 2px 2px 5px var(--COLOR-SHADOW);
}

@media screen and (min-width: 481px) {
}

@media screen and (min-width: 769px) {
  
}

@media screen and (min-width: 1025px) {
  :root {
    --HEADER-HEIGHT: 3rem;
  }
  
  .layout {
    display: grid;
    grid-template-columns: 75% 25%;
  }

  .footer {
    grid-row-start: 10;
  }

  .button-nav, .header-nav { display: none; }
  .page-body, .hero {
    flex-direction: row; 
    // width: 65vw;
    
  }
  .contact-form-side {
    position: fixed;
    top: 0;
    // top: var(--HEADER-HEIGHT);
    max-width: 25vw;
    // grid-column-start: 2;
    right: 0;
    margin-top: 0;
    padding: 0 1rem;
    height: 100%;
    background-color: lightblue;
    z-index: -1;
    
    .page-heading1 {
      font-size: 1.5rem;
      padding-top: 2rem;
      margin-bottom: -5rem;
    }

    form {
      padding-top: 0;
      margin-top: 0;
    }

    ul li {
      margin: 1rem 5%;
    }

    input::placeholder,
    textarea::placeholder {
      color: #cc0;
    }

    input[type='text'],
    input[type='email'],
    input[type='number'],
    textarea {
      width: 100%;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.75rem;
      color:yellow;
      padding: 0.25rem;
      background-color: #088;
      border: 2px solid var(--COLOR-MAIN-1);
      box-shadow: 2px 2px 5px var(--COLOR-SHADOW);
      border-radius: 0.5rem;
    }
  
    input[type='submit'] {
      background-color: var(--COLOR-MAIN-1);
      padding: 0.5rem;
      font-family: 'Sprayers';
      letter-spacing: 0.2rem;
      font-size: 1rem;
      color: var(--COLOR-MAIN-2);
      border-radius: 0.5rem;
      width: 100%;
    }
  
  }

  

  .page-title {
    // transform: translate(-17vw, 5vh);
  }

}

@media screen and (min-width: 1201px) {
  
}